#top-menu {
	height: 40px;
	background-color: #444;
	color: #eee;
}
#left-menu {
	width: 150px;
	background-color: #444;
	color: #eee;
}
#bird-icon {
	font-size: 36px;
    margin: 5px;
}
#about-container {
    margin: 15px 0;
    cursor: pointer;
    font-size: 17px;
}
#about-container i {
    margin: 0 8px;
}
#about-container:hover {
    color: rgb(255, 125, 10);
}
#back-to-main {
    font-size: 21px;
    height: 60px;
}
.init-title {
    cursor: pointer;
}
.init-title:hover {
    color: rgb(255, 125, 10);
}
.menu-item {
    height: 55px;
    font-size: 17px;
    cursor: pointer;
}
.menu-item:hover, .menu-item.selected {
    background-color: #212121;
    color: #fff;
}

.menu-item i {
    margin: 0 8px;
}

.page {
	display: none;
}
.page.visible {
	display: inherit;
}

#powerbi {
	position: relative;
}
#powerbi-hider {
	width: 100%;
    height: 37px;
    position: absolute;
    bottom: 0px;
    background-color: #eaeaea;
}
.page#about{
    background-image: url(../images/about.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.pagetitle {
    font-size: 54px;
    color: rgb(71, 74, 74);
}
.maincontainer-nopowerbi {
    padding: 44px 120px;
}