/*Menu*/
#left-menu {
	width: 150px;
	background-color: #444;
	color: #eee;
}
#back-to-main {
    font-size: 21px;
    height: 60px;
}
.init-title {
    cursor: pointer;
}
.init-title:hover {
    color: rgb(255, 125, 10);
}
.menu-item {
    height: 55px;
    font-size: 17px;
    cursor: pointer;
}
.menu-item:hover, .menu-item.selected {
    background-color: #212121;
    color: #fff;
}
.menu-item i {
    margin: 0 8px;
}
.submenu-item {
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    display: none;
}
.submenu-item i {
    margin: 0 5px 0 40px;
}
.submenu-item:hover, .submenu-item.selected {
    background-color: #313131;
    color: #fff;    
}
.submenu-item.visible {
    display: inherit;
}
#about-container {
    margin: 15px 0;
    cursor: pointer;
    font-size: 17px;
}
#about-container i {
    margin: 0 8px;
}
#about-container:hover {
    color: rgb(255, 125, 10);
}

/*Common for pages*/
.page {
	display: none;
}
.page.visible {
	display: inherit;
}
.pagetitle {
    font-size: 54px;
    color: rgb(71, 74, 74);
}
.maincontainer-nopowerbi {
    padding: 44px 120px;
}

/*Main page*/
#main .pagetitle {
    color: rgb(255, 125, 10);
}
#main-introduction {
    padding: 30px 220px;
}

/*Analytics page*/
#powerbi {
	position: relative;
}
#powerbi-hider {
	width: 100%;
    height: 37px;
    position: absolute;
    bottom: 0px;
    background-color: #eaeaea;
}

/*How to page*/
.howto-subtitle {
    font-size: 20px;
    margin-top: 7px;
}
.howtoimg {
    margin: 10px 0;
}

/*About page*/
.page#about .pagetitle, .page#howto .pagetitle{
    margin-top: 42px;
    margin-bottom: 20px;
    color: rgb(255, 125, 10);
}
.about-subtitle {
    font-size: 23px;
    margin-top: 20px;
    color: rgb(255, 125, 10);
}
#about-content, #howto-content {
    padding: 0 160px;
}